@import 'tailwindcss';
@plugin "daisyui" {
  themes: tenkey --default;
}

@plugin "daisyui/theme" {
  name: 'tenkey';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(86% 0.127 207.078);
  --color-secondary-content: oklch(39% 0.07 227.392);
  --color-accent: oklch(71% 0.202 349.761);
  --color-accent-content: oklch(28% 0.109 3.907);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(77% 0.152 181.912);
  --color-info-content: oklch(38% 0.063 188.416);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(44% 0.119 151.328);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
